@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#light,
:root{
  --bg-color: #f5f5f5;
  --text-color: #101010;
  --container-bg-color: #ffff;
  --primary-bg-color: #00ff80;
  --primary-hover-bg-color: #00d46a;
  --secondary-bg-color: #0099ff;
  --danger-bg-color: #ff3939;
  --shadow-color: #c7c7c7;
  --dark-grey: #8f8f8f;
}

#dark,
:root:has(#dark:checked){
  --bg-color: #101010;
  --text-color: #f5f5f5;
  --container-bg-color: #202020;
  --primary-bg-color: #00ff80;
  --primary-hover-bg-color: #00d46a;
  --secondary-bg-color: #0099ff;
  --danger-bg-color: #ff3939;
  --shadow-color: #000000;
  --dark-grey: #8f8f8f;
}

body{
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100%;
  padding: 100px;
  background-color: var(--bg-color);
  gap: 48px;
}

.container{
  min-width: 400px;
  background-color: var(--container-bg-color);
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 4px 4px 10px var(--shadow-color);
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header h1{
  color: var(--text-color);
}

.container input{
  font-weight: 500;
  border: none;
  height: 38px;
  border-radius: 6px;
  padding: 18px;
  background-color: var(--bg-color);
  color: var(--text-color);
  box-shadow: inset -0.5px 0.5px 4px var(--shadow-color);
  outline-color: var(--primary-bg-color);
  margin-bottom: 12px;
}


button{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  border-radius: 6px;
  font-weight: 700;
  padding: 18px;
  cursor: pointer;
  border: inherit;
}

button#signin{
  background-color: var(--primary-bg-color);
  color: var(--container-bg-color);
}

button#signin:hover{
  background-color: var(--primary-hover-bg-color);
}

p{
  text-align: center;
  color: var(--shadow-color);
}

button#signup{
  border: 2px solid var(--primary-bg-color);
  background-color: transparent;
  color: var(--dark-grey);
}

button#signup:hover{
  background-color: var(--primary-bg-color);
  color: var(--container-bg-color);
}

span{
  margin-top: auto;
  text-align: right;
}

a{
  font-size: 14px;
  color: var(--secondary-bg-color);
  text-decoration: none;
}

a:hover{
  color: var(--dark-grey);
}

::-webkit-input-placeholder{
  font-weight: 500;
  color: var(--container-bg-color);
}

.themes{
  display: flex;
  list-style: none;
  align-items: center;
  gap: 8px;
  position: fixed;
  top: 2%;
  right: 1%;
}

.label{
  font-size: 12px;
  font-weight: 400;
  color: var(--dark-grey);
  letter-spacing: 0.5px;
}

input[type="radio"]{
  appearance: none;
  border: 2px solid var(--input-color);
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  cursor: pointer;
}

input[type="radio"]:checked{
  background-color: var(--input-color);
}

#dark{
  --input-color: black;
}


#light{
  --input-color: orange;
}

@media screen and (max-width: 900px){
  body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container{
    min-width: 300px;
  }
  .header{
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  
}


